name: Deploy Sphinx Docs to GitHub Pages

on:
  push:
    branches: [development]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.13.3'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build HTML
        run: |
          cd docs
          make html

      - name: Deploy to GitHub Pages
        run: |
          pip install ghp-import
          ghp-import -n -p -f docs/_build/html